.bodyTienda {
    background-image: url(https://phantom-marca.unidadeditorial.es/51e03bc1c74df0bd12413d3a233a7786/resize/1320/f/jpg/assets/multimedia/imagenes/2022/09/28/16643689450260.jpg);
background-repeat: no-repeat;
background-position: center;
background-size:cover;
}
