.footer{
    background-color:$colordos;
    
    &__listaRedes{
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // list-style: none;
        color:$colorcuatro ;
    }

    &__listaRedes li a {
        text-decoration: none;
        color:$colorcuatro;
    }
}