.main{
    &__parrafoVideo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color:$coloruno;
        color:$colortres;
    }

    &__documental{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color:$coloruno;
        border-top: solid $colorcuatro;
        border-bottom: solid $colorcuatro;
        color:$colortres;
        align-items: center;
    }

    &__imgDocumentales{
        display: flex;
        flex-direction: row;
    }

    &__imgdocumentale,img{
        margin: 10px;
    }

   &__calendario{
    display: flex;
    flex-direction: column;
   }

   &__tituloCalendario{
    background-color:$coloruno;
    color: $colortres;
   }

   &__proximaCarrera{
    background-color:$coloruno;
    color:$colortres;
    height: 400px;
   }

   &__noticias{
   padding: 10px;
   }

   &__noticiasCheco{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    color: $colortres;
    margin-top: 100px;
    margin-bottom: 100px;
    border: solid $colortres;
   }

   &__noticiasHamilton{
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    color: $colortres;
    border: solid $colortres ;
   }

   &__secNoticias{
    background-color:$coloruno;
   }

   &__pilotos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:$coloruno;
    color: $colortres;

   }

   &__pilotosDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid $colordos;
    margin-top: 100px;
    margin-bottom: 100px;
   }

   
}